In [1]:
import pandas as pd

In [7]:
df=pd.read_csv('https://github.com/prasertcbs/tutorial/raw/master/msleep.csv')
df_shape = df.shape
df_drop = df.dropna() #ลบข้อมูล row ที่ซ้ำทิ้งไปเลย inplace=True ลบในไฟล์เดิมที่ Import มาด้วย
df_drop2 = df.fillna('NaN') #ไม่ลบแต่ให้แทนที่ค่าว่างด้วยค่าที่เรา Assign
df_drop2

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.0155,0.480
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.423,600.000
...,...,...,...,...,...,...,...,...,...,...,...
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.1,0.0025,0.104
79,Bottle-nosed dolphin,Tursiops,carni,Cetacea,NaN,5.2,NaN,NaN,18.8,NaN,173.330
80,Genet,Genetta,carni,Carnivora,NaN,6.3,1.3,NaN,17.7,0.0175,2.000
81,Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.5,0.0445,3.380
82,Red fox,Vulpes,carni,Carnivora,NaN,9.8,2.4,0.35,14.2,0.0504,4.230